<h2>Reactivos : Switches</h2>
<hr>

<form [formGroup]="miFormulario">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Genero</label>
        <div class="col-sm-9">
            <div class="form-check">
                <input class="form-check-input" type="radio" value="M" id="flexRadioDefault1" formControlName="genero">
                <label class="form-check-label" for="flexRadioDefault1">
Masculino                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" value="F" id="flexRadioDefault2" formControlName="genero">
                <label class="form-check-label" for="flexRadioDefault2">
Femina                </label>
            </div>
        </div>

    </div>


    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Notificaciones</label>
        <div class="col-sm-9">
            <div class="form-check form-switch mt-2">
                <input class="form-check-input" type="checkbox" formControlName="notificaciones" role="switch" id="flexSwitchCheckChecked">
                <label class="form-check-label" for="flexSwitchCheckChecked">Quiero recibir notificaciones</label>
            </div>
        </div>
    </div>



    <div class="row mb-3">
        <label class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" formControlName="condiciones" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
            Terminos y condiciones
        </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">

            <button class="btn btn-primary float-end"> Guardar</button>
        </div>
    </div>
</form>

<h5>Valor del formulario</h5>
<pre>{{miFormulario.value | json}}</pre>
<br>

<h5>Persona</h5>
<pre>{{persona | json}}</pre>

<h5>Valid</h5>
<pre>{{ miFormulario.valid}}</pre>
<br>
<pre>condiciones:</pre>